<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Sobre" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Santiago" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Crasto" tabIcon="restaurant"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Snack-Bar/Self" tabIcon="cafe"></ion-tab>
</ion-tabs>
