<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Bem vindo ao Food on Campus</h2>
  <p></p><p>
    Esta aplicação foca-se na visualização das ementas da semana dos refeitórios da Universidade de Aveiro
  </p>
  <p>
    Desliza pelas diferentes tabs no sistema, representada por cada refeitório na UA, e encontra a tua refeição pretendida.
  </p>
  <p></p>
  <p>
    É de realçar que, devido a falta de tempo, esta aplicação ainda não consome a Rest API da UA, portanto os
    dados encontrados estão estáticos e desatualizados.
  </p>
  <p>
    Existe uma versão melhor desta app, a obter os dados dinamicamente, no
    <a href="https://bitbucket.org/MarcoVentura/foodoncampus">seguinte link.</a>
  </p>
</ion-content>
