<!--
  Generated template for the SantiagoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Refeitório de Santiago</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding >

  <ion-list>
    <ion-item *ngFor="let san of meals">

      Data: {{san.date}}
      <p>
        Refeição: {{san.meal }}
      </p>
      <p>
        Disponivel: {{san.disp}}

      <p>
        Sopa: {{san.sopa}}
      </p>
      <p>
        Prato de carne: {{san.carne}}
      </p>
      <p>
        Prato de peixe: {{san.peixe}}
      </p>
    </ion-item>
  </ion-list>

</ion-content>
